@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
// font-family: 'Roboto Mono', monospace;

:root {
	--primary-bg-color: #161616;
	--secondary-bg-color: #2e2e2e;
	--input-bg-color: #1d1d1d;
	--btn-bg-color: #ffffff;
	--primary-font: 'Roboto Mono', monospace;
}

// Mixins
@import './mixins/buttons';
@import './mixins/headings';
@import './mixins/text';
@import './mixins/inputs';
@import './mixins/media-queries';
@import './mixins/sizing';
@import './mixins/object-fit';

// Base
@import './base/base';

// Utilities
@import './utilities/flex';

// Components
@import './components/header';
@import './components/home-hero';
@import './components/home-testimonial';
@import './components/services';
@import './components/featured-gallery';
@import './components/footer';
@import './components/hero';
@import './components/about-hero';
@import './components/project-hero';
@import './components/project-detail-cards';
@import './components/project-detail-video';
@import './components/new-project-form';
@import './components/profile-hero';
@import './components/profile-projects';
@import './components/profile-body';
@import './components/edit-profile-btns';
@import './components/loading';
