* {
	box-sizing: border-box;
}

html {
	background-color: var(--primary-bg-color);
}

body {
	font-family: var(--primary-font);
	margin: 0;
	// background-color: var(--primary-bg-color);
}

main {
	@include top-container-width;
}
