@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-bg-color: #161616;
  --secondary-bg-color: #2e2e2e;
  --input-bg-color: #1d1d1d;
  --btn-bg-color: #ffffff;
  --primary-font: 'Roboto Mono', monospace; }

* {
  box-sizing: border-box; }

body {
  font-family: var(--primary-font);
  margin: 0; }

main {
  margin: 0;
  padding: 0; }

.flex {
  display: flex; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  background-color: var(--primary-bg-color); }
  .header__container {
    color: #ffffff;
    width: 40%; }
    .header__container__title {
      color: #ffffff;
      padding: 1.8rem 0 1rem 5rem; }
      .header__container__title a {
        text-decoration: none;
        font-weight: 500;
        line-height: 22px;
        font-size: 20px;
        color: #ffffff; }
    .header__container__nav ul {
      text-align: center;
      list-style-type: none;
      padding: 0.5rem 0 0 2rem; }
    .header__container__nav li {
      text-align: center;
      display: inline-block;
      list-style-type: none;
      margin: 0; }
      .header__container__nav li a {
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
        margin-right: 68px;
        color: #ffffff; }
      .header__container__nav li button {
        cursor: pointer;
        width: 96px;
        height: 36px;
        padding: 0px 8px;
        border: 0;
        box-sizing: border-box;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
        background-color: #000000;
        color: #ffffff;
        font-size: 18px;
        font-family: var(--primary-font);
        line-height: 20px;
        text-transform: uppercase;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }

.hero__container {
  background-color: var(--primary-bg-color);
  color: #fff;
  margin: 0;
  padding: 1rem 5rem 0 5rem; }
  .hero__container__location {
    padding-bottom: 0.2rem; }
    .hero__container__location p {
      font-size: 20px;
      margin: 0;
      margin-top: 16px;
      padding-top: 1.4rem;
      position: relative;
      line-height: 1rem; }
      .hero__container__location p span img {
        margin: 0 6px -4px 0; }
  .hero__container__main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 0.25rem; }
    @media (max-width: 1024px) {
      .hero__container__main__header {
        flex-direction: column; } }
    .hero__container__main__header h1 {
      color: #ffffff;
      font-size: 64px;
      font-family: var(--primary-font);
      font-weight: 500;
      line-height: 72px;
      padding-right: 1rem;
      text-transform: uppercase; }
      @media (max-width: 1024px) {
        .hero__container__main__header h1 {
          padding-right: 0;
          text-align: center; } }
      @media (max-width: 412px) {
        .hero__container__main__header h1 {
          font-size: 24px;
          line-height: 40px; } }
    .hero__container__main__header p {
      color: #ffffff;
      font-size: 18px;
      font-family: var(--primary-font);
      font-weight: 300;
      line-height: 22px;
      text-align: right;
      width: 75%; }
      @media (max-width: 1024px) {
        .hero__container__main__header p {
          text-align: center;
          width: 100%; } }
  .hero__container__main__img img {
    display: block;
    max-width: 100%; }
  .hero__container__main__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4.7rem 1rem;
    text-align: center; }
    @media (max-width: 768px) {
      .hero__container__main__stats {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly; } }
    .hero__container__main__stats .stat {
      width: 25%; }
      @media (max-width: 768px) {
        .hero__container__main__stats .stat {
          width: 50%;
          margin: 1rem auto;
          display: inline-block; } }
      .hero__container__main__stats .stat__copy {
        width: 50%;
        margin: 0 auto; }
        .hero__container__main__stats .stat__copy h3 {
          font-size: 48px;
          font-weight: 600;
          text-align: left;
          margin: 0; }
        .hero__container__main__stats .stat__copy p {
          font-size: 20px;
          font-weight: 300;
          text-align: left;
          margin: 0 auto; }

.home__testimonial {
  background-color: var(--secondary-bg-color);
  padding: 1rem 5rem; }
  @media (max-width: 768px) {
    .home__testimonial {
      padding: 1rem 0; } }
  .home__testimonial__card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0; }
    @media (max-width: 970px) {
      .home__testimonial__card {
        justify-content: start;
        flex-direction: column-reverse; } }
    .home__testimonial__card__body {
      width: 65%;
      padding: 3rem 0;
      margin: 0; }
      @media (max-width: 970px) {
        .home__testimonial__card__body {
          width: 70%;
          margin: 0 auto;
          text-align: center; } }
      .home__testimonial__card__body__title {
        color: #ffffff;
        font-size: 24px;
        font-family: var(--primary-font);
        font-weight: 300;
        font-style: italic;
        line-height: 26px;
        margin: 1rem 0 0 0;
        text-align: left; }
      .home__testimonial__card__body__customer {
        color: #ffffff;
        font-size: 18px;
        font-family: var(--primary-font);
        font-weight: 300;
        line-height: 20px;
        padding: 1rem 0;
        margin: 0; }
      .home__testimonial__card__body__copy {
        color: #ffffff;
        font-size: 40px;
        font-family: var(--primary-font);
        font-weight: 500;
        line-height: 44px;
        padding: 1rem 0 0 0;
        margin: 0; }
    .home__testimonial__card__avatar img {
      margin: 0 auto;
      margin-top: 1rem;
      margin-right: 4rem;
      width: 210px;
      height: 210px;
      border-radius: 50%; }

.services {
  background-color: var(--primary-bg-color);
  padding: 5rem; }
  .services p.services__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    margin: 0; }
  .services__blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.6rem 0;
    margin: 0;
    position: relative; }
    @media (max-width: 1024) {
      .services__blocks {
        justify-content: space-evenly;
        padding: 0 0; } }
    .services__blocks .service {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0; }
      @media (max-width: 1238px) {
        .services__blocks .service {
          min-width: 350px;
          max-width: 350px;
          padding: 0;
          justify-content: left;
          margin: 1rem auto 1rem 0;
          text-align: left; } }
      .services__blocks .service p {
        font-size: 40px;
        color: #fff;
        font-weight: 200;
        line-height: 44px;
        padding: 0 0.8rem;
        margin: 0; }

.featured__gallery {
  background-color: var(--primary-bg-color);
  padding: 0 5rem;
  margin: 0; }
  .featured__gallery p.featured__gallery__title {
    color: #ffffff;
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    padding: 3.5rem 0 0 0;
    margin: 0; }
  .featured__gallery__border {
    padding: 4.5rem 1.5rem 0; }
    .featured__gallery__border .border {
      border: 0.5px solid var(--secondary-bg-color); }
  .featured__gallery__btn {
    text-align: center;
    padding: 2rem 0 4.5rem 0; }
    .featured__gallery__btn button {
      cursor: pointer;
      margin: 0.5rem auto;
      width: 266px;
      height: 46px;
      padding: 0px 8px;
      border: 0;
      box-sizing: border-box;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
      background-color: #000000;
      color: #ffffff;
      font-size: 20px;
      font-family: var(--primary-font);
      line-height: 26px;
      text-transform: uppercase;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .featured__gallery__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    align-items: baseline;
    margin: 0; }
    @media (max-width: 990px) {
      .featured__gallery__items {
        justify-content: space-evenly; } }
    .featured__gallery__items__item {
      border-radius: 2px;
      margin: 0;
      margin-top: 1.5rem;
      max-width: 629px;
      width: calc(100% / 2);
      height: 304px;
      position: relative; }
      @media (max-width: 990px) {
        .featured__gallery__items__item {
          width: 100%; } }
      .featured__gallery__items__item__details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        max-height: 3.4rem; }
        .featured__gallery__items__item__details__title {
          color: #ffffff;
          font-size: 24px;
          line-height: 32px; }
        .featured__gallery__items__item__details__services span {
          cursor: pointer;
          max-width: 100px;
          width: 100%;
          max-height: 32px;
          height: 100%;
          padding: 7px 8px;
          border: 0;
          box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
          background-color: #000000;
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          text-transform: uppercase;
          outline: none;
          margin-right: 8px; }
        .featured__gallery__items__item__details__services span:last-child {
          margin-right: 0; }
      .featured__gallery__items__item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .featured__gallery__items__item .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.3s ease-in; }
        .featured__gallery__items__item .overlay button {
          cursor: pointer;
          width: 192px;
          height: 46px;
          padding: 0px 8px;
          border: 0;
          box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
          background-color: #000000;
          color: #ffffff;
          font-size: 20px;
          font-family: var(--primary-font);
          line-height: 26px;
          text-transform: uppercase;
          outline: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
        .featured__gallery__items__item .overlay button:active {
          outline: 0; }
      .featured__gallery__items__item .overlay:hover {
        opacity: 1; }
    .featured__gallery__items__item.item {
      margin-top: 4.41rem; }
  .featured__gallery__items.more-projects {
    padding-top: 0.4rem;
    padding-bottom: 7.6rem; }

.footer {
  background-color: var(--secondary-bg-color);
  padding: 3.5rem 0 0.1rem;
  margin: 0; }
  .footer__contact__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 0;
    padding: 0 5rem; }
    @media (max-width: 1024px) {
      .footer__contact__container {
        flex-direction: column-reverse; } }
    @media (max-width: 768px) {
      .footer__contact__container {
        padding: 0; } }
    @media (max-width: 1024px) {
      .footer__contact__container {
        justify-content: center;
        align-content: center; } }
    .footer__contact__container__sizing {
      width: 63%;
      margin: 0 auto; }
      @media (min-width: 1024px) {
        .footer__contact__container__sizing {
          max-width: 50%; } }
      @media (max-width: 768px) {
        .footer__contact__container__sizing {
          width: 75%; } }
    .footer__contact__container__form__header p {
      color: #ffffff;
      font-size: 24px;
      font-family: var(--primary-font);
      font-weight: 300;
      font-style: italic;
      line-height: 26px;
      text-align: left; }
    .footer__contact__container__form input {
      max-width: 504px;
      width: 100%;
      height: 54px;
      padding: 0px 8px;
      border: 1px solid #2e2e2e;
      box-sizing: border-box;
      border-radius: 2px;
      background-color: var(--input-bg-color);
      color: #bebebe;
      font-size: 20px;
      font-family: var(--primary-font);
      font-weight: 300;
      line-height: 22px;
      outline: none;
      display: block;
      margin-bottom: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .footer__contact__container__form button {
      cursor: pointer;
      max-width: 504px;
      width: 100%;
      height: 46px;
      padding: 0px 8px;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-family: var(--primary-font);
      line-height: 26px;
      text-transform: uppercase;
      outline: none;
      margin: 3rem auto;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .footer__contact__container__contact {
      color: #ffffff;
      text-align: left; }
      .footer__contact__container__contact h2 {
        color: #ffffff;
        font-size: 40px;
        font-family: var(--primary-font);
        font-weight: 500;
        line-height: 44px; }
      .footer__contact__container__contact__header p {
        color: #ffffff;
        font-size: 24px;
        font-family: var(--primary-font);
        font-weight: 300;
        font-style: italic;
        line-height: 26px;
        margin: 0;
        text-align: left; }
      .footer__contact__container__contact .contact-details {
        padding-bottom: 3rem; }
        .footer__contact__container__contact .contact-details .links {
          padding-bottom: 1rem; }
          @media (max-width: 412px) {
            .footer__contact__container__contact .contact-details .links {
              padding-bottom: 0; } }
          .footer__contact__container__contact .contact-details .links a {
            color: #ffffff;
            font-size: 36px;
            font-family: var(--primary-font);
            font-weight: 500;
            line-height: 44px;
            text-decoration: none;
            display: block;
            font-size: 24px;
            line-height: 34px; }
      .footer__contact__container__contact .social-media {
        padding-top: 2.5rem; }
        @media (max-width: 412px) {
          .footer__contact__container__contact .social-media {
            padding-top: 0.5rem;
            padding-bottom: 1.5rem; } }
        .footer__contact__container__contact .social-media img {
          margin-right: 20px;
          cursor: pointer; }
  .footer__copyright__container {
    color: #ffffff;
    border-top: 1px solid #404040;
    padding: 0; }
    .footer__copyright__container p {
      font-size: 16px;
      font-family: var(--primary-font);
      font-weight: 300;
      line-height: 20px;
      text-align: center; }

.hero {
  background-color: var(--primary-bg-color);
  padding: 5rem; }
  .hero h1 {
    color: #ffffff;
    font-size: 64px;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 72px;
    margin: 0;
    padding: 0;
    width: 65%; }

.about__hero {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5.05rem 5.55% 4rem; }
  @media (max-width: 1035px) {
    .about__hero {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse; } }
  .about__hero__profile {
    width: 50%; }
    @media (max-width: 1035px) {
      .about__hero__profile {
        width: 80%;
        margin: 0 auto;
        text-align: center; } }
    @media (max-width: 768px) {
      .about__hero__profile {
        width: 90%; } }
    .about__hero__profile__bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #2e2e2e; }
      .about__hero__profile__bio h1 {
        color: #ffffff;
        font-size: 64px;
        font-family: var(--primary-font);
        font-weight: 500;
        line-height: 72px;
        margin: 0;
        margin-bottom: 0.1rem; }
        @media (max-width: 768px) {
          .about__hero__profile__bio h1 {
            font-size: 38px;
            line-height: 50px; } }
        @media (max-width: 412px) {
          .about__hero__profile__bio h1 {
            font-size: 24px;
            line-height: 40px; } }
      .about__hero__profile__bio p {
        color: #ffffff;
        font-size: 18px;
        font-family: var(--primary-font);
        font-weight: 300;
        line-height: 22px;
        padding-right: 3rem;
        padding-bottom: 1.85rem;
        font-size: 16px;
        line-height: 20px; }
        @media (max-width: 1035) {
          .about__hero__profile__bio p {
            padding: 1rem; } }
    .about__hero__profile__skills {
      margin-top: 2rem; }
      @media (max-width: 1035px) {
        .about__hero__profile__skills {
          text-align: left; } }
      .about__hero__profile__skills p {
        padding: 1rem 0 0; }
      .about__hero__profile__skills button {
        cursor: pointer;
        max-width: 190px;
        max-height: 46px;
        width: 100%;
        height: 100%;
        padding: 1rem 0.5rem;
        border: 0;
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
        background-color: #000000;
        color: #ffffff;
        font-size: 18px;
        font-family: var(--primary-font);
        font-weight: 300;
        line-height: 16px;
        text-transform: uppercase;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 1rem;
        margin-bottom: 1rem; }
      .about__hero__profile__skills p {
        color: #ffffff;
        font-size: 24px;
        font-family: var(--primary-font);
        font-weight: 300;
        font-style: italic;
        line-height: 26px; }
    .about__hero__profile__img {
      width: 50%;
      text-align: right; }
      @media (max-width: 1035px) {
        .about__hero__profile__img {
          width: 65%;
          margin: 0 auto;
          text-align: center; } }
      .about__hero__profile__img img {
        max-width: 28.75rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px; }
        @media (max-width: 1035px) {
          .about__hero__profile__img img {
            max-width: 80%; } }

.project__hero {
  background-color: var(--primary-bg-color);
  padding: 3.6rem 5rem; }
  .project__hero__back-btn {
    width: 100%;
    padding: 0;
    padding-bottom: 0.3rem;
    margin: 0;
    text-align: left; }
    .project__hero__back-btn img {
      cursor: pointer;
      margin: 0; }
  .project__hero__header h1 {
    color: #ffffff;
    font-size: 64px;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 72px;
    line-height: 30px;
    text-transform: uppercase; }
  .project__hero__header__languages {
    padding: 0;
    padding-bottom: 3.6rem;
    margin: 0; }
    .project__hero__header__languages span {
      cursor: pointer;
      max-width: 100px;
      width: 100%;
      max-height: 32px;
      height: 100%;
      padding: 7px 8px;
      border: 0;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
      background-color: #000000;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
      text-transform: uppercase;
      outline: none;
      margin-right: 8px;
      padding: 9px 8px; }
  .project__hero__img {
    text-align: center;
    max-height: 400px;
    max-width: 100%;
    margin: 0 auto; }
    .project__hero__img img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px; }
  .project__hero__about {
    max-width: 60%;
    padding: 3.7rem 0 2rem 0;
    border-bottom: 1px solid var(--secondary-bg-color); }
    .project__hero__about h2 {
      color: #ffffff;
      font-size: 24px;
      font-family: var(--primary-font);
      font-weight: 300;
      font-style: italic;
      line-height: 26px;
      padding: 1.3rem 0 0;
      margin: 0; }
    .project__hero__about p {
      color: #ffffff;
      font-size: 18px;
      font-family: var(--primary-font);
      font-weight: 300;
      line-height: 22px;
      margin: 0;
      padding: 1.08rem 0 1rem; }

.project__cards {
  background-color: var(--primary-bg-color);
  padding-bottom: 2.2rem;
  border-bottom: 1px solid var(--secondary-bg-color); }
  .project__cards__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    padding: 0 4rem; }
    .project__cards__container__card {
      width: calc(100% / 2); }
      @media (max-width: 768px) {
        .project__cards__container__card {
          width: 100%; } }
      .project__cards__container__card__img {
        padding: 1.4rem 0.9rem; }
        .project__cards__container__card__img img {
          max-width: 628px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px; }
      .project__cards__container__card__summary {
        padding: 2.5rem 1rem;
        text-align: left; }
        .project__cards__container__card__summary h3 {
          color: #ffffff;
          font-size: 24px;
          font-family: var(--primary-font);
          line-height: 26px;
          margin: 0;
          font-weight: 300;
          padding: 0.8rem 0 1.15rem;
          text-transform: uppercase; }
        .project__cards__container__card__summary p {
          color: #ffffff;
          font-size: 18px;
          font-family: var(--primary-font);
          font-weight: 300;
          line-height: 22px;
          margin: 0; }
  .project__cards__gallery {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 4.15rem;
    flex: 0 0 calc(100% / 3); }
    @media (max-width: 768px) {
      .project__cards__gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem 0; } }
    .project__cards__gallery__card {
      width: calc(100% / 3);
      margin: 0;
      padding: 0; }
      @media (max-width: 768px) {
        .project__cards__gallery__card {
          width: 100%;
          margin-bottom: 1.5rem; }
          .project__cards__gallery__card:last-child {
            margin-bottom: 0; } }
      .project__cards__gallery__card img {
        max-width: 410px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        border-radius: 5px; }

.project__video {
  background-color: var(--primary-bg-color);
  padding: 1.7rem 1rem; }
  .project__video__header {
    padding: 2rem 4rem 0.12rem;
    text-align: right; }
    .project__video__header h3 {
      color: #ffffff;
      font-size: 24px;
      font-family: var(--primary-font);
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 300; }
  .project__video__player {
    margin: 0;
    padding: 0 4rem 4.1rem;
    text-align: center;
    position: relative; }
    .project__video__player video {
      max-width: 1280px;
      max-height: 612px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      object-fit: cover;
      object-position: center; }
  .project__video__play__pause__container {
    position: absolute;
    top: 0;
    left: 4rem;
    right: 4rem;
    bottom: 4.3rem;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in; }
    .project__video__play__pause__container:hover {
      opacity: 1; }
    .project__video__play__pause__container__playBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: 0;
      max-width: 96px;
      max-height: 96px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .project__video__play__pause__container__playBtn:active {
        outline: 0; }
      .project__video__play__pause__container__playBtn:focus {
        outline: 0; }
    .project__video__play__pause__container__pauseBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: 0;
      max-width: 96px;
      max-height: 96px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; }
      .project__video__play__pause__container__pauseBtn:active {
        outline: 0; }
      .project__video__play__pause__container__pauseBtn:focus {
        outline: 0; }
