.footer {
	background-color: var(--primary-bg-color);
	padding: 3.5rem 0;
	margin: 0;

	&__contact__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin: 0;
		padding: 0 5rem;

		@media (max-width: 1024px) {
			flex-direction: column-reverse;
		}

		&__sizing {
			width: 100%;
			margin: 0 auto;

			@media (min-width: 1024px) {
				max-width: 50%;
			}
		}

		&__form {
			&__header {
				& p {
					color: #ffffff;
					font-size: 24px;
					font-family: var(--primary-font);
					font-weight: 300;
					font-style: italic;
					line-height: 26px;
				}
			}

			& input {
				max-width: 504px;
				width: 100%;
				height: 54px;
				padding: 0px 8px;
				border: 1px solid #2e2e2e;
				box-sizing: border-box;
				border-radius: 2px;
				background-color: var(--input-bg-color);
				color: #bebebe;
				font-size: 20px;
				font-family: var(--primary-font);
				font-weight: 300;
				line-height: 22px;
				outline: none;
				display: block;
				margin-bottom: 1rem;
			}

			& button {
				cursor: pointer;
				max-width: 504px;
				width: 100%;
				height: 46px;
				padding: 0px 8px;
				border: 1px solid #000000;
				box-sizing: border-box;
				box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
				background-color: #ffffff;
				color: #000000;
				font-size: 20px;
				font-family: var(--primary-font);
				line-height: 26px;
				text-transform: uppercase;
				outline: none;
				margin: 3rem auto;
			}
		}

		&__contact {
			color: #ffffff;
			text-align: left;

			& h2 {
				color: #ffffff;
				font-size: 40px;
				font-family: var(--primary-font);
				font-weight: 500;
				line-height: 44px;
			}

			&__header {
				& p {
					color: #ffffff;
					font-size: 24px;
					font-family: var(--primary-font);
					font-weight: 300;
					font-style: italic;
					line-height: 26px;
					margin: 0;
				}
			}

			& .contact-details {
				padding-bottom: 3rem;

				& .links {
					padding-bottom: 1rem;

					& a {
						color: #ffffff;
						font-size: 36px;
						font-family: var(--primary-font);
						font-weight: 500;
						line-height: 44px;
						text-decoration: none;
						display: block;
					}
				}
			}

			& .social-media {
				padding-top: 2.5rem;

				& img {
					margin-right: 20px;
					cursor: pointer;
				}
			}
		}
	}

	&__copyright__container {
		color: #ffffff;
		border-top: 1px solid #404040;
		padding: 0;

		& p {
			font-size: 16px;
			font-family: var(--primary-font);
			font-weight: 300;
			line-height: 20px;
			text-align: center;
		}
	}
}
