.hero__container {
	background-color: var(--primary-bg-color);
	color: #fff;
	margin: 0;
	padding: 1rem 5rem 0 5rem;

	&__location {
		padding-bottom: 0.2rem;
		& p {
			font-size: 20px;
			margin: 0;
			margin-top: 16px;
			padding-top: 1.4rem;
			position: relative;
			line-height: 1rem;

			& span img {
				margin: 0 6px -4px 0;
			}
		}
	}
	&__main {
		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding-bottom: 0.25rem;

			@include flex-column-portrait-tablet;

			& h1 {
				@include heading-one;

				padding-right: 1rem;
				text-transform: uppercase;

				@media (max-width: 1024px) {
					padding-right: 0;
					text-align: center;
				}

				@include mobile-heading-one;
			}

			& p {
				@include brief-summ;

				text-align: right;
				width: 75%;
				@media (max-width: 1024px) {
					text-align: center;
					width: 100%;
				}
			}
		}
		&__img img {
			display: block;
			max-width: 100%;
		}

		&__stats {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 4.7rem 1rem;
			text-align: center;

			@media (max-width: 768px) {
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-evenly;
			}

			& .stat {
				width: 25%;

				@media (max-width: 768px) {
					width: 50%;
					margin: 1rem auto;
					display: inline-block;
				}

				&__copy {
					width: 50%;
					margin: 0 auto;
					& h3 {
						font-size: 48px;
						font-weight: 600;
						text-align: left;
						margin: 0;
					}

					& p {
						font-size: 20px;
						font-weight: 300;
						text-align: left;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
