.home__testimonial {
	background-color: var(--secondary-bg-color);
	padding: 1rem 5rem;

	@media (max-width: 768px) {
		padding: 1rem 0;
	}
	@media (max-width: 575.5px) {
		padding: 1rem 1rem;
	}

	&__card {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 0;

		@media (max-width: 992px) {
			justify-content: start;
			flex-direction: column-reverse;
		}

		&__body {
			width: 65%;
			padding: 3rem 0;
			margin: 0;

			@media (max-width: 992px) {
				width: 70%;
				margin: 0 auto;
				text-align: center;
			}

			@media (max-width: 575.5px) {
				width: 100%;
			}
			&__title {
				@include taglines;
				margin: 1rem 0 0 0;
				text-align: left;
			}

			&__customer {
				color: #ffffff;
				font-size: 18px;
				font-family: var(--primary-font);
				font-weight: 300;
				line-height: 20px;
				padding: 1rem 0;
				margin: 0;
			}

			&__copy {
				color: #ffffff;
				font-size: 40px;
				font-family: var(--primary-font);
				font-weight: 500;
				line-height: 44px;
				padding: 1rem 0 0 0;
				margin: 0;
			}
		}

		&__avatar {
			& img {
				margin: 0 auto;
				margin-top: 1rem;
				margin-right: 4rem;
				width: 210px;
				height: 210px;
				border-radius: 50%;

				@media (max-width: 768px) {
					margin-right: 0;
				}
			}
		}
	}
}
