.hero__container {
	background-color: var(--primary-bg-color);
	color: #fff;
	padding: 1rem 5rem 0;

	// Mixins
	@include top-container-width;

	// Queries

	@media (max-width: 1024px) {
		padding: 1rem 5rem 0;
	}
	@media (max-width: 575.5px) {
		padding: 1rem 1rem 0;
	}

	// Children
	&__location {
		padding-bottom: 0.2rem;
		& p {
			font-size: 20px;
			margin: 0;
			margin-top: 16px;
			padding-top: 1.4rem;
			position: relative;
			line-height: 1rem;

			& span img {
				margin: 0 6px -4px 0;
			}
		}
	}
	&__main {
		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin: 0;
			padding-bottom: 0.25rem;

			@include flex-column-portrait-tablet;

			& h1 {
				@include heading-one;

				padding-right: 1rem;
				text-transform: uppercase;

				@media (max-width: 1024px) {
					padding-right: 0;
					text-align: center;
				}

				@include mobile-heading-one;
			}

			& p {
				@include brief-summ;

				align-self: flex-end;
				text-align: left;
				width: 75%;
				padding-bottom: 2rem;
				@media (max-width: 1024px) {
					text-align: center;
					width: 100%;
				}
				@media (max-width: 575.5px) {
					padding-bottom: auto;
				}
			}
		}

		&__img {
			& img {
				border-radius: 5px;
				display: block;
				max-width: 100%;
				width: 100%;
				margin: 0 auto;
			}
		}

		&__stats {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 4.7rem 1rem;
			text-align: center;

			@media (max-width: 767.98px) {
				flex-wrap: wrap;
				align-items: baseline;
				justify-content: space-evenly;
			}

			@media (max-width: 575.5px) {
				padding: 4.7rem 0;
			}

			& .stat {
				width: 25%;

				@media (max-width: 767.98px) {
					width: calc(100% / 2);
					margin: 1rem auto;
				}

				&__copy {
					width: calc(100% / 2);
					margin: 0 auto;

					// @media (max-width:575.5px){
					// 	width: ;
					// }
					& h3 {
						font-size: 48px;
						font-weight: 600;
						text-align: left;
						margin: 0;
					}

					& p {
						font-size: 20px;
						font-weight: 300;
						text-align: left;
						margin: 0 auto;
					}
				}
			}
		}
	}
}
