.project__cards {
	background-color: var(--primary-bg-color);
	padding-bottom: 2.2rem;

	border-bottom: 1px solid var(--secondary-bg-color);

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		text-align: center;
		padding: 0 4rem;

		@media (max-width: 575.5px) {
			padding: 0 1rem;
		}

		&__card {
			width: calc(100% / 2);
			max-width: 668.5px;

			@media (max-width: 768px) {
				width: 100%;
			}

			&__img {
				padding: 1.4rem 0.9rem;
				max-width: 628px;
				height: 441.23px;

				@media (max-width: 1250px) {
					height: 360px;
				}

				@media (max-width: 992px) {
					height: 280px;
				}

				@media (max-width: 768px) {
					height: 330px;
				}

				@media (max-width: 575.5px) {
					height: 280px;
					padding: 1.4rem 0.9rem;
				}

				& img {
					width: 100%;
					height: 100%;

					@include object-fit-rules;
					border-radius: 5px;
				}
			}

			&__summary {
				padding: 2.5rem 1rem;
				text-align: left;

				@media (max-width: 575.5px) {
					padding: 0.5rem 1rem 2.5rem;
				}

				& h3 {
					@include heading-three;
					margin: 0;
					font-weight: 300;
					padding: 0.8rem 0 1.15rem;
					text-transform: uppercase;
				}
				& p {
					@include brief-summ;
					margin: 0;
				}
			}
		}
	}
	&__gallery {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-evenly;
		align-items: center;
		padding: 2.5rem 2.9rem;
		flex: 0 0 calc(100% / 3);

		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2.5rem 1rem;
		}

		&__card {
			width: calc(100% / 3);
			margin: 0;
			padding: 0 2rem;
			@media (max-width: 768px) {
				width: 100%;
				margin-bottom: 1.5rem;
				padding: 0;
				&:last-child {
					margin-bottom: 0;
				}
			}

			& img {
				max-width: 410px;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				margin: 0;
				padding: 0;
				border-radius: 5px;
				@include object-fit-rules;
			}
		}
	}
}
