.services {
	background-color: var(--primary-bg-color);
	padding: 5rem;

	& p.services__title {
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		font-style: italic;
		line-height: 26px;
		margin: 0;
	}
	&__blocks {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1.6rem 0;
		margin: 0;
		position: relative;

		@media (max-width: 1238px) {
			justify-content: space-evenly;
			padding: 0 0;
		}

		& .service {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			margin: 0;

			@media (max-width: 1238px) {
				min-width: 350px;
				max-width: 350px;
				padding: 0;
				justify-content: left;
				margin: 1rem auto 1rem 0;
				text-align: left;
			}
			& p {
				font-size: 40px;
				color: #fff;
				font-weight: 200;
				line-height: 44px;
				padding: 0 0.8rem;
				margin: 0;
			}
		}
	}
}
